.container {
    width: 80%;
    margin: auto;
    padding: 10px 40px;
    padding-bottom: 20px;
}

.container .images {
    text-align: center;
    padding-bottom: 80px;
}

.container .recipe-list {
    width: 75%;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 10px 10px 5px -5px lightgray;
}

.container .recipe-list .list-head {
    text-align: center;
}

.container .recipe-list hr {
    border: none;
    background-color: lightgrey;
    height: 1px;
}

.container .recipe-list .list {
    list-style-type: square;
}

.container .recipe-list .items {
    padding: 10px;
}

.container .recipe-list .items a {
    color: rgb(0, 94, 189);
}

.container .recipe-list .items a:link {
    text-decoration: none;
}

.container .recipe-list .items a:hover {
    text-decoration: underline;
    font-weight: bold;
}